html {

    scroll-behavior: smooth;
}

header {
   /* background-color: aqua;*/
    font-family: cinzel;
    margin-bottom: 40px;
    font-size: 30px;
}

body {
    max-width: 970px;
    width: 100%;
   /* background-color: brown;*/
    text-align: center;
    margin: 0 auto;

}

.contact-info {

    width: 100%;
    height: 90vh;
    /*background-color: lightgreen;*/
    align-items: center;
    font-size: 22px;
    margin-top: 20px;
    
}



input[type="name"], input[type=email], input[type="phone"] {
    border: 1px solid #ccc;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-left: 25%;
    
    
}
a {
    text-decoration: none;
    color: rgb(255, 247, 247);
}

button[type="button"] {
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(26, 27, 27);

}

.contact-info .new-page {
    margin-top: 20%;
    font-size: 40px;
}



#job {
    /*background-color: darkgray;*/
    font-size: 40px;
    margin-top: 10px;

    height: 100vh;
    text-align: center;
    font-family: tahoma;
}

#engineer, #operator, #developer {
   margin-top: 100px;
}

input[type="radio"] {
   height: 25px;
   width: 25px;
   border-radius: 50%;

}

.job .new-page {
    margin-top: 10%;
    font-size: 40px;
}


.fav {
    margin-top: 20px;
   /* background-color: salmon;*/
    font-size: 40px;
    font-family: Tahoma;
    height: 100vh;
    padding-top: 30px;
}

#freedom, #windows, #food, #flex, #redbull {
    margin-top: 50px;
}

.fav .new-page {
    margin-top: 10%;
    font-size: 40px;
}

.work-on {
    /*background-color: aqua;*/
    align-items: center;
    font-size: 30px;
    height: 100vh;
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
    margin-top: 20px;
 
}

.work-on .new-page {
    margin-top: 10%;
    font-size: 40px;
}

.text {
    /*background-color: royalblue;*/
    align-items: center;
    font-family: tahoma;
    font-size: 40px;
    height: 100vh;
    
}

button[type="submit"], button[type="reset"] {
    width: 30%;
    font-size: 30px;
    border-radius: 10px;
}


textarea {
    margin-top: 30px;
}


.button {
    align-items: center;
}